* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: 'Inter';
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  font-size: 1.4rem;
  background: rgb(20, 19, 19);
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.right-nav-container {
  position: relative;
}
.nav-left,
.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.nav-left li,
.nav-right li {
  list-style: none;
  padding: 1.4rem 0;
  border-bottom: 0.2rem solid rgb(20, 19, 19);
}

.nav-left li:hover,
.nav-right li:hover {
  border-bottom: 0.2rem solid #fff;
}

.icon {
  font-size: 2rem;
}

.hamburger {
  display: none;
}

.modal {
  position: fixed;
  top: 5rem;
  right: -100%;
  background-color: #e6caca;
  width: 20rem;
  transition: right 0.5s ease;
  z-index: 100;
}

.modal-nav {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: flex-start;
  justify-content: center;
  color: #000;
  padding: 1.5rem 2.4rem;
}

.modal-nav li {
  list-style: none;
  color: red;
  font-size: 1.4rem;
  font-weight: bold;
}

.modal-nav li:hover {
  cursor: pointer;
}

.show-modal {
  right: 0;
}

.close {
  color: #aaa;
}

.hero-section {
  background-image: url('img/image.PNG');
  background-size: cover;
  background-repeat: no-repeat;
  height: 88vh;
}

.hero-section-article {
  color: #fff;
  max-width: 55rem;
  padding: 10rem 0 0 8rem;
}

.article-head {
  max-width: 26rem;
  line-height: 0.7;
}

.hero-section-title {
  font-weight: 900;
  letter-spacing: 1.5px;
  font-size: 5rem;
}

.hero-section-sub-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
}

.sub-heading-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
  padding: 1.5rem 0;
}

.sub-title {
  font-size: 2rem;
}

.span {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: red;
  border-radius: 0.3rem;
  padding: 0.2rem 0.4rem;
}
.span .number {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
}

.detail {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.15rem;
  margin-bottom: 1rem;
}

.btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  border: none;
  padding: 0.7rem 1.2rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-right {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.btn-left:hover {
  background: #cec5c5;
}

.btn-right:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.title {
  font-size: 1.4rem;
  padding: 1.5rem 0 1rem;
  color: #fff;
}

.hide {
  overflow: hidden;
}

.image {
  width: 20rem;
  height: 15rem;
  padding-right: 0.5rem;
}
.image-1 {
  width: 20rem;
  height: 25rem;
  padding-right: 0.5rem;
}

.section01 {
  background: rgb(15, 14, 14);
}
.swiper-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 2rem 8rem;
  /* max-width: 130rem; */
}

.swiper-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.swiper-button-prev,
.swiper-button-next {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  background: #fff;
  color: black;
  border-radius: 50%;
}
.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 8rem;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  right: 0.5rem;
}
.show {
  display: block;
}

.align-section {
  padding: 2rem 0 1.5rem 8rem;
  overflow: hidden;
}

footer {
  background: rgb(15, 14, 14);
  padding-top: 5rem;
  padding-bottom: 3rem;
  font-size: 1.2rem;
  color: #fff;
}

.footer-container {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.4rem;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15rem;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.social-icon {
  width: 2rem;
  height: 2rem;
  fill: #fff;
}

.footer-btn {
  background: transparent;
  border: 1px solid #fff;
  padding: 0.6rem 1.2rem;
  color: #fff;
}

.footer-btn:hover {
  background: #cec5c5;
  color: #000;
}

@media (max-width: 600px) {
  .main-header {
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
  }

  .nav-left,
  .nav-right {
    max-width: 60rem;
    display: none;
  }

  .logo {
    width: 10rem;
  }

  .icon {
    font-size: 3rem;
  }
  .hamburger {
    display: block;
  }

  .hero-section-article {
    color: #fff;
    max-width: 45rem;
    padding: 8rem 2rem 0 2rem;
  }

  .detail {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }

  .swiper-container {
    padding: 0 0 2rem 2rem;
    align-items: center;
  }

  .swiper-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
  }

  .image {
    width: 25rem;
    height: 20rem;
    padding-bottom: 0.5rem;
  }
  .image-1 {
    width: 30rem;
    height: 35rem;
    padding-bottom: 0.5rem;
  }

  .show {
    display: none;
  }

  .align-section {
    padding: 2rem 0 1.5rem 2rem;
  }
  footer {
    font-size: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .footer-container {
    max-width: 50rem;
  }
  .social {
    gap: 0.8rem;
  }
  .social-icon {
    width: 1.2rem;
    height: 1.2rem;
    fill: #fff;
  }

  .contact {
    gap: 2.4rem;
  }
}
