* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'inter';
}

.hero-section {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
    url('img/bg-signIn.PNG');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header {
  padding: 2rem 5rem;
}

section {
  max-width: 35rem;
  margin: 4rem auto;
  background: rgb(32, 28, 28);
  color: #fff;
  font-size: 1.4rem;
}
.section-content {
  padding: 3rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input {
  padding: 0.8rem;
  background: rgb(61, 52, 52);
  outline: none;
  border: none;
  color: #fff;
}

button {
  margin-top: 0.8rem;
  padding: 0.7rem;
  border: 1rem;
  border-radius: 0.3rem;
  background: rgb(206, 32, 32);
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}
.addition-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
.more-info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 1.5rem;
}
.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
.icon {
  font-size: 2rem;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small {
  font-size: 1.1rem;
}

footer {
  background: rgb(0, 0, 0, 0.9);
  padding: 1rem 0 0.6rem;
}

.footer-container {
  max-width: 80rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.contact-details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 22rem;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.footer-btn {
  background: transparent;
  border: 1px solid #fff;
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 600px) {
  header {
    padding: 1.5rem 3rem;
  }
  section {
    max-width: 30rem;
  }
  .section-content {
    padding: 2rem;
  }
  footer {
    position: absolute;
    bottom: 0;
    max-width: 60rem;
  }

  .footer-container {
    max-width: 100%;
    padding: 1.5rem 2rem 1rem;
  }

  .contact-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: flex-start;
    gap: 2.8rem;
  }
}
